.cart {

    font-family: Arial, sans-serif;
}

.cart h1 {
    text-align: center;
    margin-bottom: 20px;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th,
.cart-table td {
    border: 0px;
    background-color: #fff8dc;
    padding: 10px;
    text-align: center;
}

.cart-table th {
    background-color: #fff3cd;
    border-bottom:1px solid #8b5a2b;
}

.cart-table input[type="number"] {
    width: 60px;
    text-align: center;
}

.cart-summary {
    text-align: right;
    margin-top: 20px;
}

.cart-summary p {
    font-size: 1.2rem;
    margin: 5px 0;
}

button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #ff1a1a;
}

.checkout-button {
    background-color: #8b5a2b;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.checkout-button:hover {
    background-color: #6b4220;
}

.cartheader {
    color: white;
    padding-top: 20px;
    padding-bottom: 1px;
    font-size: 2rem;
    background-color: #8b5a2b;
}