.ProductList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  border: 1px solid red;
}

.ProductBox {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 20px; 
  box-sizing: border-box; 
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ProductBox h2 {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.ProductBox p {
  margin: 4px 0;
}